@using ParentToChildCommunicationUsingCascadingValue.Data
<div class="container mb-5">
    <div class="row">

        <div class="col-auto m-2">
            <div class="card">
                <div class="card-header"> <span>@Product.Name</span> </div>
            </div>
        </div>


    </div>
</div>

@code {
    [CascadingParameter]
    public Product Product { get; set; }
}