@inherits LayoutComponentBase

<PageTitle>ParentToChildCommunicationUsingCascadingValue</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <h5 class="text-center text-danger fw-bold">Components Communication Using Cascading Values</h5>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
